# Exclude build directories
Debug/
Release/

# Exclude temporary files
*.xdchelp

# Exclude configuration and generated folders
.config/
.launches/

# Allow necessary project files and directories
!.ccsproject
!.cproject
!.project
!.settings/

# Allow specific makefile (if applicable)
!makefile.defs

# Exclude everything else by default
/*
# Allow only specific project files and directories
!/.ccsproject
!/.cproject
!/.project
!/.settings/
!makefile.defs
